{{#if view.log.isLoaded}}
  {{view App.PreView logBinding="view.log"}}

  {{#if view.job.sponsor.name}}
    <p class="sponsor">
      Sponsored By:
      <a {{bindAttr href="sponsor.url"}}>{{sponsor.name}}</a>
    </p>
  {{/if}}

  <a href='#' class="to-top" {{action toTop target="view"}}>To top</a>
{{else}}
  <div id="log" class="loading"></div>
{{/if}}
