{{#if job.isLoaded}}
  <div {{bindAttr class="view.color :build"}}>
    <div id="build-summary">
      <dl>
        <dt>Job</dt>
        <dd class="number">
          <span class="status-container"><span class="status"></span></span>
          {{#if job.id}}
            {{#if job.repo.slug}}
              {{#linkTo job repo job}}{{job.number}}{{/linkTo}}
            {{/if}}
          {{/if}}
        </dd>
        <dt>State</dt>
        <dd class="state">{{capitalize job.state}}</dd>
        <dt>Duration</dt>
        <dd class="duration" {{bindAttr title="startedAt"}}>{{formatDuration job.duration}}</dd>
        <div {{bindAttr class="logMetaLess::hidden"}}>
          <a href="#" class="ui-link float-right" {{action toggleLogMeta}}>more&raquo;</a>
        </div>
        <div {{bindAttr class="logMetaLess:hidden"}}>
          <dt class="finished_at_label">Finished</dt>
          <dd class="finished_at timeago" {{bindAttr title="finishedAt"}}>{{formatTime job.finishedAt}}</dd>

          {{#if commit}}
            <div class="right">
              <dt>Commit</dt>
              <dd class="commit"><a {{bindAttr href="urlGithubCommit"}}>{{formatCommit commit}}</a></dd>
              {{#if job.build.pullRequest}}
                <dt>Pull Request</dt>
                <dd class="pull_request">
                  <a {{bindAttr href="job.build.commit.compareUrl"}}>#{{job.build.pullRequestNumber}} {{job.build.pullRequestTitle}}</a>
                </dd>
              {{else}}
                {{#if commit.compareUrl}}
                  <dt>Compare</dt>
                  <dd class="compare"><a {{bindAttr href="commit.compareUrl"}}>{{pathFrom commit.compareUrl}}</a></dd>
                {{/if}}
              {{/if}}
              {{#if commit.authorName}}
                <dt>Author</dt>
                <dd class="author"><a {{bindAttr href="urlAuthor"}}>{{commit.authorName}}</a></dd>
              {{/if}}
              {{#if commit.committerName}}
                <dt>Committer</dt>
                <dd class="committer"><a {{bindAttr href="urlCommitter"}}>{{commit.committerName}}</a></dd>
              {{/if}}
            </div>
          {{/if}}

          <dt>Message</dt>
          <dd class="message">{{formatMessage commit.message}}</dd>
          <dt>Config</dt>
          <dd class="config">{{formatConfig job.config}}</dd>
        </div>
        <div {{bindAttr class="logMetaLess:hidden"}}>
          <a href="#" class="ui-link float-right" {{action toggleLogMeta}}>&laquo;less</a>
        </div>
      </dl>
    </div>

    {{view App.LogView jobBinding="job"}}
  </div>
{{else}}
  <div id="job" class="loading">
    <span>Loading</span>
  </div>
{{/if}}
