{{#if isLoaded}}

  <div id="build-summary">
    <dl>
      <dt>Build</dt>
      <dd class="number">
        <span class="status-container"><span class="status"></span></span>
        {{#if build.id}}
          {{#if build.repo.slug}}
            {{#linkTo build repo build class="ui-link"}}{{build.number}}{{/linkTo}}
          {{/if}}
        {{/if}}
      </dd>
      <dt>State</dt>
      <dd class="state">{{capitalize build.state}}</dd>
      <dt>Duration</dt>
      <dd class="duration" {{bindAttr title="startedAt"}}>{{formatDuration build.duration}}</dd>
      <dt class="finished_at_label">Finished</dt>
      <dd class="finished_at timeago" {{bindAttr title="finishedAt"}}>{{formatTime build.finishedAt}}</dd>
      <div {{bindAttr class="buildMetaLess::hidden"}}>
        <a href="#" class="ui-link float-right" {{action toggleBuildMeta}}>more&raquo;</a>
      </div>
      <div {{bindAttr class="buildMetaLess:hidden"}}>

        {{#with build.commit}}
          <dt>Commit</dt>
          <dd class="commit">
            <a {{bindAttr href="controller.urlGithubCommit"}} class="ui-link" rel="external">{{formatCommit this}}</a>
          </dd>
          {{#if ../build.pullRequest}}
            <dt>Pull Request</dt>
            <dd class="pull_request">
              <a {{bindAttr href="compareUrl"}} class="ui-link" rel="external">
                #{{build.pullRequestNumber}} {{build.pullRequestTitle}}
              </a>
            </dd>
          {{else}}
            {{#if compareUrl}}
              <dt>Compare</dt>
              <dd class="compare">
                <a {{bindAttr href="compareUrl"}} class="ui-link" rel="external">{{pathFrom compareUrl}}</a>
              </dd>
            {{/if}}
          {{/if}}
          {{#if authorName}}
            <dt>Author</dt>
            <dd class="author">
              <a {{bindAttr href="urlAuthor"}} class="ui-link" rel="external">{{authorName}}</a>
            </dd>
          {{/if}}
          {{#if committerName}}
            <dt>Committer</dt>
            <dd class="committer">
              <a {{bindAttr href="urlCommitter"}} class="ui-link" rel="external">{{committerName}}</a>
            </dd>
          {{/if}}
        {{/with}}

        <dt>Message</dt>
        <dd class="message">
          <div>{{formatMessage build.commit.message}}</div>
        </dd>

        {{#unless isMatrix}}
          <dt>Config</dt>
          <dd class="config">
            <div>{{formatConfig build.config}}</div>
          </dd>
        {{/unless}}
      </div>
      <div {{bindAttr class="buildMetaLess:hidden"}}>
        <a href="#" class="ui-link float-right" {{action toggleBuildMeta}}>&laquo;less</a>
      </div>
    </dl>
  </div>

  {{#if build.isMatrix}}
    {{view App.JobsView jobsBinding="build.requiredJobs" required="true"}}
    {{view App.JobsView jobsBinding="build.allowedFailureJobs"}}
  {{else}}
    {{view App.LogView jobBinding="build.jobs.firstObject"}}
  {{/if}}

{{else}}

  <div class="loading"></div>

{{/if}}