{{#if isLoaded}}

  {{#if content.length}}

    <div id="builds" class="list">

      {{#each build in controller}}
        {{#view App.BuildsItemView contextBinding="build"}}
          {{#if id}}
            {{#linkTo "build" repo this class="build-link"}}
              <div class="cell number">
                <div class="cell-block">
                  <span class="status-container"><span class="status"></span></span>
                  {{number}}
                </div>
              </div>
              <div class="cell">
                <div class="cell-block">
                  <p class="build-summary">
                    <span class="duration-label"></span>
                    <abbr class="duration" {{bindAttr title="duration"}}>{{formatDuration duration}}</abbr>,
                    <span class="finished-at-label"></span>
                    <abbr class="finished-at timeago" {{bindAttr title="finishedAt"}}>{{formatTime finishedAt}}</abbr>
                  </p>
                </div>
              </div>
              <div class="cell committer">
                <div class="cell-block">{{commit.committerName}}</div>
              </div>
              <div class="cell commit">
                <div class="cell-block">{{formatCommit commit}}</div>
              </div>
              {{#if view.isPullRequestsList}}
                <div class="cell">
                  <div class="cell-block">[ #{{commit.pullRequestNumber}} ]</div>
                </div>
              {{/if}}
              <div class="cell message">
                <div class="cell-block">{{{formatMessage commit.message short="true"}}}</div>
              </div>
            {{/linkTo}}
          {{/if}}
        {{/view}}
      {{/each}}

    </div>

    {{#if isLoading}}
      <div id="show-more-loading" class="loading"></div>
    {{/if}}

    {{#if displayShowMoreButton}}

      {{view view.ShowMoreButton}}

      <a href='#' class="to-top" {{action toTop target="view"}}>To top</a>

    {{/if}}
  {{else}}

    <div id="builds" class="list">
      <div>
        <div>
          <div class="cell number">&#160;</div>
        </div>
        <div>
          <div class="cell commit">
            &#160;No builds
          </div>
        </div>
        <div>
          <div class="cell message">&#160;</div>
        </div>
      </div>
    </div>

  {{/if}}

{{else}}

  <div class="loading"></div>

{{/if}}