<section>

  <div id="search-container">

    <label for="search" class="ui-hidden-accessible ui-input-text">Search repositories:</label>

    <div id="search-input"
         class="ui-input-search ui-shadow-inset ui-btn-corner-all ui-btn-shadow ui-icon-searchfield ui-body-c">
      {{view App.SearchboxView valueBinding="controller.search"}}
      <a href="#" {{action "clearSearch"}}
        {{bindAttr class=":ui-input-clear :ui-btn :ui-btn-up-c :ui-shadow :ui-btn-corner-all :ui-fullsize :ui-btn-icon-notext search::ui-input-clear-hidden"}}
         title="clear text">
        <span class="ui-btn-inner">
          <span class="ui-btn-text">Clear</span>
          <span class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span>
        </span>
      </a>
    </div>

  </div>

  {{#if isLoading}}
    <div class="loading"></div>
  {{else}}
    {{outlet repolist}}
  {{/if}}
</section>