<section class="repo-section">
  <div id="repo-header">
    <div id="favorite" {{bindAttr class="favorite"}}>
      <a {{action toggleFavorite}}
          title="Favorites" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-icon-notext ui-btn-up-c">
        <span class="ui-btn-inner">
          <span class="ui-btn-text">Favorites</span>
          <span class="ui-icon ui-icon-star ui-icon-shadow">&nbsp;</span>
        </span>
      </a>
    </div>
    <a {{bindAttr href='gitHubUrl'}} class="ui-link" rel="external">{{repo.slug}}</a>
  </div>

  <div>
    {{#if shortDescription}}
      <small {{bindAttr class="fullDescriptionVisible:hidden"}}>
        {{ shortDescription }}
        <a href="#" class="ui-link touch-link mini" {{action toggleDescription}}>more&raquo;</a>
      </small>
      <small {{bindAttr class="fullDescriptionVisible::hidden"}}>
        {{ repo.description }}
        <a href="#" class="ui-link touch-link mini" {{action toggleDescription}}>&laquo;less</a>
      </small>
    {{else}}
      <small>{{ repo.description }}</small>
    {{/if}}
  </div>

  {{view App.RepoTabsView}}

  <div class="tab">
    {{outlet pane}}
  </div>
</section>