{{#if isLoaded}}

  <div>
    <h3><a {{bindAttr href='gitHubUrl'}} > {{slug}} </a></h3>

    <p>{{ description }}</p>

    <p>{{ commit }}</p>
  </div>

{{else}}

  <div class="loading"></div>

{{/if}}
