<section>

  <div id="search-container">
    <label for="search" class="ui-hidden-accessible ui-input-text">Search repositories:</label>

    <div class="ui-input-search ui-shadow-inset ui-btn-corner-all ui-btn-shadow ui-icon-searchfield ui-body-c">
      {{view App.SearchView valueBinding="controller.search"}}
      <a href="#"
         class="ui-input-clear ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all ui-fullsize ui-btn-icon-notext ui-input-clear-hidden"
         title="clear text" data-corners="true" data-shadow="true"
         data-iconshadow="true" data-wrapperels="span" data-icon="delete"
         data-iconpos="notext" data-theme="c" data-mini="false">
        <span class="ui-btn-inner">
          <span class="ui-btn-text">Clear</span>
          <span class="ui-icon ui-icon-delete ui-icon-shadow">&nbsp;</span>
        </span>
      </a>
    </div>
  </div>

  {{#if isLoaded}}

    <ul data-role="listview" data-count-theme="c" class="ui-listview">
      {{#each controller}}

        <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r"
            data-iconpos="right" data-theme="c"
            class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-count ui-first-child ui-btn-up-c">
          <div class="ui-btn-inner ui-li">
            <div {{bindAttr class=":ui-btn-text color"}}>
              <span class="status"></span>
              {{#linkTo repo this class="ui-link-inherit repolink"}}
                {{ slug }}<span class="ui-li-count ui-btn-up-c ui-btn-corner-all">{{ lastBuildNumber }}</span>
              {{/linkTo}}
            </div>
            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
          </div>
        </li>

      {{else}}

        <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r"
            data-iconpos="right" data-theme="c"
            class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-count ui-first-child ui-btn-up-c">
          <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
              <a href="#" class="ui-link-inherit">No repos.</a>
            </div>
          </div>
        </li>

      {{/each}}
    </ul>

  {{else}}

    <div class="loading"></div>

  {{/if}}
</section>