<section>
  <h3>Repositories</h3>

  <div>
    <button {{action "toggleInfo"}} title="Show/Hide Description">...</button>
    <div>
      {{#each controller}}

        <div>
          <div>
            {{#linkTo builds repo latestBuild}}{{ slug }}{{/linkTo}}
            <span>({{ last_build_number }})</span>
          </div>
          <div {{bindAttr class="controller.isInfoVisible:hidden"}}>{{ description }}</div>
        </div>

      {{else}}}

        <p>No repos.</p>

      {{/each}}
    </div>

  </div>
</section>