<section class="repo-section">
  {{#if repo.isLoading}}

    <div class="loading"></div>

  {{else}}

    <div><a {{bindAttr href='gitHubUrl'}} class="ui-link"> {{repo.slug}} </a></div>
    <div>
      <small>{{ repo.description }}</small>
    </div>

    {{outlet buildpane}}

  {{/if}}
</section>